@import url('./reset.css');


body
{
    margin: 0px;
    padding: 0px;
    outline: 0;
    user-select: none;
    -moz-user-select: none;
    height: 100%;
    width: 100%;

}

*
{
    box-sizing: border-box;
}


html
{
    --var-app-color-dark : #22242A;
}